<div class="app">
  <div *ngIf="loading">
    <div>
      <h1>....loading</h1>
    </div>
  </div>
  <div *ngIf="!privKey && !loading">
    <div>
      <h3>Login With Openlogin</h3>
      <button (click)="login($event)">login</button>
    </div>
  </div>
  <div *ngIf="privKey && !loading">
    <div>
      <section>
        <div>
          Private key:
          <i>{{ privKey }}</i>
          <button (click)="logout($event)">Logout</button>
        </div>
        <div>
          <button (click)="getUserInfo($event)">Get User Info</button>
          <button (click)="getEd25519Key($event)">Get Ed25519Key</button>

          <div id="console">
            <p></p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
